script:last-of-type + div {
	display none !important
}
#__bs_notify__ {
	display block !important
	width 200px !important
	height 40px !important
	top auto !important
	bottom 0 !important
	left 0 !important
	border-radius 5px 5px 0 0 !important
	font-size 12px !important
}
