// media queries
$sm-maxWidth = 850px
$md-minWidth = $sm-maxWidth + 1
$md-maxWidth = 1200px
$lg-minWidth = $md-maxWidth + 1
$sm = '(max-width ' + $sm-maxWidth + ')'
$sm-md = '(max-width ' + $md-maxWidth + ')'
$md = '(min-width ' + $md-minWidth + ') and (max-width ' + $md-maxWidth + ')'
$md-lg = '(min-width ' + $md-minWidth + ')'
$lg = '(min-width ' + $lg-minWidth + ')'

// colors
$color-white1 = #fff
$color-white2 = #d8c8bf
$color-black1 = #000
$color-black2 = #37322f
$color-red1 = #e20a0f
$color-red2 = #e24040
$color-blue1 = #50aac4
$color-blue2 = #3d96cb
$color-blue3 = #4359db
$color-blue4 = #13cbdf
$color-green1 = #2fad74
$color-pink1 = #ed4b83
$color-pink2 = #fdebe0
$color-yellow1 = #bf9c42
$color-purple1 = #8d16de

// font-size
$font-1 = 14px
$font-2 = 16px
$font-3 = 18px
$font-4 = 24px
$font-5 = 28px
$font-6 = 36px
$font-7 = 60px

// margins and paddings
$space-1 = 10px
$space-2 = 20px
$space-3 = 30px
$space-4 = 50px
$space-5 = 60px
