.standardSection {
   fullBackgroundImage()
}
.standardSection h2 {
   color $color-white1
   font-weight 100
   @media $lg {
      font-size $font-6
   }
   @media $md {
      font-size $font-6 * .85
   }
   @media $sm {
      font-size $font-6 * .8
   }
}
.standardSection .standardButton {
   @media $md-lg {
      margin-top $space-4
   }
   @media $sm {
      margin-top $space-3
   }
}






.siteMaxWidthContainer {
   flex-direction row
   max-width 1200px
   height 100%
   @media $md-lg {
      justify-content space-around
   }
   @media $sm {
      flex-direction column
      padding $space-3 $space-1
   }
}






.standardContainer {
   justify-content center
   max-width px(col(6))
   height 100%
   @media $sm {
      margin-top $space-4
   }
}
