.contactSection {
   padding $space-5 * 2 0
   background-color $color-red2
   @media (max-width: 750px) {
      padding $space-5 * 1.5 0
   }
   @media (max-width 500px) {
      padding $space-5 * 1.2 0
   }
   @media (max-width: 380px) {
      padding $space-5 0
   }





   h2 {
      text-align center
      @media (min-width: 921px) {
         font-size $font-7 !important
      }
      @media (max-width: 920px) {
         font-size $font-7 * .8
      }
      @media (max-width 600px) {
         font-size $font-5
      }
      @media (max-width: 380px) {
         font-size $font-4
      }
      @media (max-width: 380px) {
         font-size $font-3
      }
   }

}
